<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <!--    <link rel="stylesheet" type="text/css" th:href="@{~/customer/css/bootstrap.css}" />-->
    <!--    <link rel="stylesheet" type="text/css" th:href="@{~/customer/css/custom.css}" />-->
    <!--    <link rel="stylesheet" type="text/css" th:href="@{~/customer/css/media.css}" />-->
    <!--    <link rel="stylesheet" type="text/css" th:href="@{~/customer/font-awesome/font-awesome.min.css}" />-->
    <!--    <link rel="shortcut icon" th:href="@{~/customer/img/favicon.ico}" type="image/x-icon">-->
    <!--    <link rel="icon" th:href="@{~/customer/img/favico.ico}" type="image/x-icon">-->
    <!--    <meta name="viewport" content="width=device-width, initial-scale=1.0" />-->
    <title>Test</title>
</head>

<body>


<!--<form id="form1" th:action="@{/reports}" method="POST" th:object="${report}" class="form-signin frm secure" style="margin-bottom: 5% !important;">-->
<form id="form1" th:action="@{/form}" method="POST"  class="form-signin frm secure" style="margin-bottom: 5% !important;">
    <div class="form-group">
        <input type="text" id="username" name="reportName" required="required"
               placeholder="Username" autocomplete="off"/>
    </div>
    <div class="form-group ">
        <!--                                    <p class="col-xs-5 no-pad-left no-pad-right forgot " style="margin-top: 15px;"><a style="font-weight:600" href="/forgot/username" class='txt-blk' data-toggle="tooltip" data-placement="right" title="Forgot Username?" autocomplete="off" >Forgot Username?</a></p>-->
        <!--<p class='text-right col-xs-7 no-pad-left no-pad-right  text-white' style="margin-top: 15px; "><a href="#" class="continue">Continue</a> </p>-->
        <input type="submit" class="continue" value="Continue">
    </div>
</form>


</body>
<script th:src="@{~/js/jquery-2.1.3.min.js}"></script>
<!--<script th:src="@{~/js/jquery.jcryption.js}"></script>-->
<script th:src="@{~/js/core.js}"></script>
<script th:src="@{~/js/sha256.js}"></script>
<script>
    // $(function() {
    //     console.log("updatte");
    //     $("#form1").jCryption();
    //     $("#username").jCryption();
    // });
    // $.jCryption.defaultOptions.getKeysURL="encrypt?generateKeyPair=true";
    // $.jCryption.defaultOptions.handshakeURL="encrypt?handshake=true";
    $("#form1").submit(function(){
        var text = $("#username").val();
        alert(text);
        // btoa();
        var hashText = CryptoJS.SHA256(text);
        $("#username").val(hashText);
        alert(hashText);
        // $(this).find(':input');
        // $('.secure input, .secure select').each(
        //     function(index){
        //         var input = $(this);
        //         console.log("input: ", input);
        //         input.val("yyy");
        //         alert('Type: ' + input.attr('type') + 'Name: ' + input.attr('name') + 'Value: ' + input.val());
        //         // generateHash(input.val());
        //     }
        // );
        // alert("before submit");
        // sha512("my string for hashing").then(x => console.log(x));
    });
</script>
</html>